streamlit
transformers
torch
pdfplumber
keybert
googletrans==4.0.0-rc1
sentence-transformers
Pillow
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
nrclex
matplotlib
streamlit
transformers
torch
pdfplumber
nrclex
spacy==3.7.2
thinc==8.2.1
matplotlib
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
